button{
    background-color: darkcyan;
    box-shadow: 0px 1px 1px black;
    color: white;
    border: none;
    font-size: 20px;
}
#container{
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    box-shadow: 0px 5px 5px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;

}
body{
    background-color: darkcyan;
}
button{
    border-radius: 10px;
    width: 40px;
    height: 30px;
}
h1{
    background-color: darkcyan;
    color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 1px 1px black;
    overflow: hidden;
}
buttons{
    margin: auto
}